@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import "~normalize.css";

@import "vars";
@import "mixins";

// Local files
@import "header";
@import "toolbar";
@import "formula";
@import "table";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

button {
  outline: none;
  border: none;
}

.excel {
  position: relative;
}
